html,body{
    font-family: Montserrat, serif;
}
.block1, .block2{
    display: block;
    width: 100%;
    height: 100vh;
}

.logo-position{
    margin-top: 5%;
    text-align: center;

}
.logo{
    width: 75%;
}
.text-position{
    margin-top: 5%;
    margin-bottom: 10%;
    text-align: center;
    padding-left: 10%;
    color: rgb(60, 66, 79);
}
.text2-position{
    margin-top: 5%;
    margin-bottom: 10%;
    text-align: center;
    padding-left: 10%;
    color: rgb(60, 66, 79);
}
.text-offre{
    margin-top: 5%;
    margin-bottom: 10%;
}
h2{
    line-height: 0.9!important;
}
h3 strong{
    text-transform: uppercase;
}
h3 strong .evi{
    color: rgba(100, 46, 146, 0.88) ;
}h3 strong .gui{
    color: rgba(241, 89, 42, 0.89);
 }

.money{
    font-size: 15rem;
    font-weight: bold;
    color: rgba(241, 89, 42, 0.89);
}
p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: rgb(60, 66, 79);
}
.offre-limite{
    font-size: 20px;
    color: rgba(100, 46, 146, 0.88);
    font-weight: 700;
}
.button{
    text-align: center;
    background-color: rgb(241, 89, 42);
    background-image: none;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 1px;
    color: #fff;
    border-top-width: 2px;
    border-top-color: rgb(100, 46, 146);
    border-top-style: solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right-width: 2px;
    border-right-color: rgb(100, 46, 146);
    border-right-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: rgb(100, 46, 146);
    border-bottom-style: solid;
    border-left-width: 2px;
    border-left-color: rgb(100, 46, 146);
    border-left-style: solid;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
    text-decoration: none;
    position: absolute;
    margin-left: 20%;
    margin-bottom: 5% ;
}
.button:hover{
    background-color: rgba(100, 46, 146, 0.88);
    border-top-color: rgba(241, 89, 42, 0.89);
    border-right-color: rgba(241, 89, 42, 0.89);
    border-bottom-color: rgba(241, 89, 42, 0.89);
    border-left-color: rgba(241, 89, 42, 0.89);
    color: #fff!important;
    text-decoration: none;
}
.icon{
    width: 30px;
    height: 30px;
    margin-right: 20px;
    margin-left: 0;
}

.block2{
    background-color: rgb(100, 47, 145);
    clip-path: polygon(2.5em 0, 100% 0%, 100% 100%, 2.5em 100%, 25% 70%);
}
.titre-promo{
    margin-top: 5%;
    color: white;
    text-align: center;
    font-weight:bold;
    font-size:120px;
    position:relative;
    line-height:90px;
    letter-spacing: -8px;
    text-shadow: #ff6239 1px 1px, #ff6339 2px 2px, #ff643a 3px 3px, #ff663a 4px 4px,
                #ff673b 5px 5px, #ff683c 6px 6px, #ff693c 7px 7px, #ff6a3d 8px 8px,
                #ff6b3d 9px 9px, #ff6c3e 10px 10px, #ff6e3f 11px 11px, #ff6f3f 12px 12px,
                #ff7040 13px 13px, #ff7140 14px 14px, #ff7241 15px 15px, #ff7342 16px 16px,
                #ff7442 17px 17px, #ff7643 18px 18px, #ff7743 19px 19px, #ff7844 20px 20px,
                #ff7945 21px 21px, #ff7a45 22px 22px, #ff7b46 23px 23px, #ff7c46 24px 24px,
                #ff7e47 25px 25px, #ff7f48 26px 26px, #ff8048 27px 27px, #ff8149 28px 28px,
                #ff8249 29px 29px, #ff834a 30px 30px, #ff844b 31px 31px, #ff864b 32px 32px,
                #ff874c 33px 33px, #ff884c 34px 34px, #ff894d 35px 35px, #ff8a4e 36px 36px,
                #ff8b4e 37px 37px, #ff8c4f 38px 38px, #ff8e4f 39px 39px, #ff8f50 40px 40px,
                #ff9051 41px 41px, #ff9151 42px 42px, #ff9252 43px 43px, #ff9352 44px 44px,
                #ff9453 45px 45px, #ff9654 46px 46px, #ff9754 47px 47px, #ff9855 48px 48px,
                #ff9955 49px 49px, #ff9a56 50px 50px, #ff9b57 51px 51px, #ff9c57 52px 52px,
                #FF6138 0px 0px;
}
.promo{
    position: absolute;
    width: 70%;
    bottom: 0;
    margin-bottom: 2%;
    left: 32%
}
